mulerequesterdemo/src/main/app/MuleRequesterDemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/1.0-SNAPSHOT/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <mulerequester:config name="Mule_Requester" doc:name="Mule Requester"/>
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" specification="1.1" doc:name="Active MQ"/>
    <flow name="RequestFile" doc:name="RequestFile">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="requestfile" doc:name="HTTP"/>
        <mulerequester:request config-ref="Mule_Requester" resource="file:///s/tmp/demorequester/read/#[message.inboundProperties['filename']]" returnClass="java.lang.String" doc:name="Request a file"/>
        <file:outbound-endpoint path="/s/tmp/demorequester/write" outputPattern="copy.txt" responseTimeout="10000" doc:name="File"/>
    </flow>
    <flow name="EmptyQueue" doc:name="EmptyQueue">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="emptyqueue" doc:name="HTTP"/>
        <flow-ref name="QueueRequester" doc:name="Flow Reference"/>
    </flow>
    <flow name="QueueRequester" doc:name="QueueRequester">
        <mulerequester:request config-ref="Mule_Requester" resource="jms://input" doc:name="Request a message from a queue" />
        <choice doc:name="Choice">
            <when expression="#[!(payload instanceof org.mule.transport.NullPayload)]">
		        <logger message="Payload from JMS message: #[payload]" level="WARN" doc:name="Logger"/>
                <flow-ref name="QueueRequester" doc:name="Flow Reference"/>
            </when>
            <otherwise>
		        <logger message="Queue empty" level="WARN" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="CountRequester" doc:name="MuleRequesterDemoFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP" path="request3messages"/>
        <mulerequester:request-collection config-ref="Mule_Requester" resource="jms://input" doc:name="Mule Requester" count="3"/>
        <logger level="INFO" doc:name="Logger" message="Payload: #[payload]"/>
    </flow>
    <flow name="RequestAll" doc:name="MuleRequesterDemoFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP" path="requestall"/>
        <mulerequester:request-collection config-ref="Mule_Requester" resource="jms://input" doc:name="Mule Requester" count="-1"/>
        <logger level="INFO" doc:name="Logger" message="Payload: #[payload]"/>
    </flow>
</mule>
